* {
    margin: 0;
}

body {
    background: #202020;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.title {
    position: absolute;
    top: 4vh;
    left: 2vw;
    font-size: 4vh;
    font-weight: 500;
    color: white;
}